<div class="table-pannel">
  <table class="table table-bordered">
    <thead>
      <tr>
        <% attributes.reject(&:password_digest?).each do |attribute| %>
        <th><%%= <%= singular_table_name.classify %>.human_attribute_name(:<%= attribute.name %>) %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
        <tr>
          <% attributes.reject(&:password_digest?).each do |attribute| %>
          <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
          <% end %>
          <td>
            <%%= link_to <%= "[:#{prefix}, #{singular_table_name}]" %>, class: "label label-primary" do -%><i class="fa fa-file"></i><%% end %>
            <%%= link_to edit_<%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), class: "label label-default" do -%><i class="fa fa-pencil"></i><%% end %>
            <%%= link_to <%= "[:#{prefix}, #{singular_table_name}]" %>, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-danger" do -%><i class="fa fa-times"></i><%% end %>
          </td>
        </tr>
      <%% end %>
    </tbody>
  </table>
</div>

<div class="other-actions">
  <%%= link_to t('actions.new') + <%= singular_table_name.classify %>.model_name.human, new_<%= prefixed_plain_model_url %>_path, class: 'button button-rounded button-flat button-flat-primary' %>
</div>
