<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :author %>
    <%= f.input :descript %>
    <%= f.input :publisher %>
    <%= f.input :page_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,  class: 'button button-rounded button-flat button-flat-primary' %>
  </div>
<% end %>
