<div class="table-pannel">
  <table class="table table-bordered">
    <thead>
      <tr>
        
        <th><%= Book.human_attribute_name(:name) %></th>
        
        <th><%= Book.human_attribute_name(:author) %></th>
        
        <th><%= Book.human_attribute_name(:descript) %></th>
        
        <th><%= Book.human_attribute_name(:publisher) %></th>
        
        <th><%= Book.human_attribute_name(:page_number) %></th>
        
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          
          <td><%= book.name %></td>
          
          <td><%= book.author %></td>
          
          <td><%= book.descript %></td>
          
          <td><%= book.publisher %></td>
          
          <td><%= book.page_number %></td>
          
          <td>
            <%= link_to book, class: "label label-primary" do -%><i class="fa fa-file"></i><% end %>
            <%= link_to edit_book_path(book), class: "label label-default" do -%><i class="fa fa-pencil"></i><% end %>
            <%= link_to book, method: :delete, data: { confirm: '确定删除吗? 注意此操作无法撤销！' }, class: "label label-danger" do -%><i class="fa fa-times"></i><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="other-actions">
  <%= link_to t('actions.new') + Book.model_name.human, new_book_path, class: 'button button-rounded button-flat button-flat-primary' %>
</div>



